/*Flat button example */
.jfx-button {
     -jfx-button-type: FLAT;
     -fx-background-color: white;
     -fx-text-fill: black;
}

/*Raised button example */
.jfx-button {
     -jfx-button-type: RAISED;
     -fx-background-color: blue;
     -fx-text-fill: white;
}