#dashboard-menu {
    -fx-background-color: #030617;
    -fx-padding: 20;
}

.dashboard-root {
    -fx-background-color: #101022;
}

#user-full-name {
    -fx-font-size: 18;
    -fx-text-fill: white;
}

#user-login-name {
    -fx-font-size: 14;
    -fx-text-fill: white;
}

.dashboard-menu-item-label {
    -fx-font-size: 15;
    -fx-text-fill: #444650;
}

.dashboard-overview-header {
    -fx-text-fill: white;
    -fx-text-style: bold;
    -fx-font-size: 35;
}

.account-label-key {
    -fx-text-fill: #949deb;
    -fx-text-size: 40;
}

.account-label-value {
    -fx-text-fill: white;
    -fx-text-size: 40;
}

.account-table-header {
    -fx-text-fill: white;
    -fx-font-size: 30;
}

#make-transaction-header {
    -fx-text-fill: white;
    -fx-font-size: 50;
}

.make-transaction-labels {
    -fx-text-fill: white;
    -fx-text-style: bold;
    -fx-min-width: 170;
}

.make-transaction-text-fields {
    -fx-min-width: 250;
    -fx-min-height: 30;
}

#make-transaction-choice-box {
    -fx-min-width: 220;
    -fx-text-fill: black;
}
   
#submit-transaction-btn {
    -fx-min-width: 100;
    -fx-min-height: 30;
    -fx-background-color:
        linear-gradient(#f0ff35, #a9ff00),
        radial-gradient(center 50% -40%, radius 200%, #b8ee36 45%, #80c800 50%);
    -fx-background-radius: 6, 5;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
    -fx-text-fill: #395306;
}

#add-account-header {
    -fx-text-fill: white;
    -fx-font-size: 50;
}

.add-account-labels {
    -fx-text-fill: white;
    -fx-text-style: bold;
    -fx-min-width: 170;
}

.add-account-text-fields {
    -fx-min-width: 250;
    -fx-min-height: 30;
}

#add-account-btn {
    -fx-min-width: 100;
    -fx-min-height: 30;
    -fx-background-color:
        linear-gradient(#f0ff35, #a9ff00),
        radial-gradient(center 50% -40%, radius 200%, #b8ee36 45%, #80c800 50%);
    -fx-background-radius: 6, 5;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
    -fx-text-fill: #395306;
}

#update-customer-header {
    -fx-text-fill: white;
    -fx-font-size: 50;
}

.update-customer-labels {
    -fx-text-fill: white;
    -fx-text-style: bold;
    -fx-min-width: 100;
}

.update-customer-text-fields {
    -fx-min-width: 250;
    -fx-min-height: 30;
}

#change-password-btn {
    -fx-background-color: yellow;
}

#update-customer-btn {
    -fx-min-width: 100;
    -fx-min-height: 30;
    -fx-background-color:
        linear-gradient(#f0ff35, #a9ff00),
        radial-gradient(center 50% -40%, radius 200%, #b8ee36 45%, #80c800 50%);
    -fx-background-radius: 6, 5;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
    -fx-text-fill: #395306;    
}

#delete-customer-btn {
   -fx-background-color:red;
   -fx-text-fill:white;
   -fx-wrap-text: true;
   -fx-effect: dropshadow( three-pass-box, red, 10.0, 0.0, 0.0, 0.0);
   -fx-cursor:hand;
}
