#dashboard-menu {
    -fx-background-color: #030617;
    -fx-padding: 20;
}

.dashboard-root {
    -fx-background-color: #101022;
}

#user-full-name {
    -fx-font-size: 18;
    -fx-text-fill: white;
}

#user-login-name {
    -fx-font-size: 14;
    -fx-text-fill: white;
}

.dashboard-menu-item-label {
    -fx-font-size: 15;
    -fx-text-fill: #444650;
}

.dashboard-overview-header {
    -fx-text-fill: white;
    -fx-text-style: bold;
    -fx-font-size: 35;
}

.dashboard-overview-key {
    -fx-text-fill: #949deb;
    -fx-text-size: 30;
}

.dashboard-overview-value {
    -fx-text-fill: white;
    -fx-text-size: 30;
}
