#registration-page-root {
    -fx-background-color: #0b1229;
    -fx-padding: 20;
}

#sign-up-label {
    -fx-text-fill: white;
    -fx-font-size: 30;
}

.label {
    -fx-text-fill: white;
    -fx-text-style: bold;
    -fx-min-width: 150;
}

.text-field {
    -fx-min-width: 220;
    -fx-min-height: 30;
}

#choice-box {
    -fx-min-width: 220;
    -fx-text-fill: black;
}

#choice-box .label {
    -fx-text-fill: black;
}

#sign-up-btn {
    -fx-min-width: 150;
    -fx-min-height: 30;
    -fx-background-color:
        linear-gradient(#f0ff35, #a9ff00),
        radial-gradient(center 50% -40%, radius 200%, #b8ee36 45%, #80c800 50%);
    -fx-background-radius: 6, 5;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
    -fx-text-fill: #395306;
}

#login-label {
    -fx-text-fill: #0098f8;
}
